@import '~antd/dist/antd.css';
:root{
  --transparent-color:linear-gradient(to right, #c340eb 0%, #ad63f7 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  ẨN NÚT SHOW-HIDE SIDEBAR */
.ant-layout-sider-zero-width-trigger{
  display: none;
}

